@import "./colors";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  font-size: 16px;
}

h1,.title {
  font-size: 1.125em;
}
h2 {
  font-size: 1em;
}

h3,.title-small{
  font-size: 0.8125em;
}

span {
  font-size: 13px;
}

a ,.nav-link{
  color: $light-green
}

a:hover,.nav-link:hover {
  text-decoration: none;
  color: $light-green;
}

button {
  font-size:0.875em;
}

li,a {
  text-decoration: none;
}